<style>
  .navbar {
    height: 70px !important;
    background-color: #f8f9fa;
  }

  .fa-bell {
    font-size: 2rem;
    margin-left: 1.75rem !important;
  }
  .logo {
    color: red;
  }
  .nav-link {
    font-size: 1.25rem;
  }
  .nav-option {
    background-color: #f8f9fa;
  }
  .nav-option,
  .navbar-collapse {
    background-color: #f8f9fa;
    padding: 1rem;
  }
</style>

<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid bg-body-tertiary">
    <div class="logo">
      <a class="navbar-brand" href="/opportunity"
        ><i class="fa-solid fa-bell"></i><br /><b
          >Uni<span class="logo">Notify</span></b
        ></a
      >
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/opportunity"><b>Explore</b></a>
      </div>
      
      <div class="navbar-nav ms-auto">
        <% if (!currUser) { %> 
          <a class="nav-link" href="/login"><b>Login</b></a>
          <a class="nav-link" href="/signup"><b>SignUp</b></a>
        <% } else {%> 
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
