.add {
  margin-top: 1.5rem;
  border: 1px solid black;
  border-radius: 20px;
  width: 20rem;
  height: 3rem !important;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add h5 {
  display: flex;
  align-items: center !important;
  justify-content: center;
}

.add i {
  display: flex;
  align-items: center !important;
  justify-content: center;
}

.add a {
  text-decoration: none;
  color: black;
}

.card {
  border: none !;
}

